@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
h1,h1,h3,h4,h5,h6,p,html,body{
    margin: 0;
    padding: 0
}
h2{
    font-size:20px;
    line-height: 30px;
    font-weight:400;
}

h4{
    font-size: 15px;
    line-height: 22.5px;
    font-weight: 400;

}
*::after , *::before , *{
    box-sizing: border-box;
}


body,button{
    font-family: "Open Sans", sans-serif;
    
}
body{
    /* margin :0.5em; */
    background-color: #FAF1E4;

}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.mainContainer{
    width:100%;
}

.frontLabel{
    background-image: url(./images/banner.jpg);
    height:300px;
    display: flex;
    object-fit: cover;
    background-size: cover;
    justify-content: center;
    align-items: center;
    
}
.navbar{
    display: flex;
    justify-content: center;
    background-color: #4353349b;
    height: fit-content;
    width: 100%;
}
.navbar img{
    width:150px;
    height: 150px;;
    border-radius: 100%;
    background: none;
    background-color: none;
}



.nav-btn{
    background-color: none;
    border: none;
    background: none;
    font-size: 15px;
    font-weight: bolder;
    color: red;
}

.nav-btn:hover{
    cursor: pointer;
    color: #fff;
}

.midContainer{

    padding: 3em;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1.5em;
    position: relative;

    
}


.searchBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:30%;
    background-color: #9EB384;
    padding:0.5em;
    border-radius: 0.5em;
    box-shadow: 4px 4px 4px #CEDEBD


}
#searchBtn{
    border: none;
    background: none;
    color: #435334;
    font-size: larger;
}
#searchBtn:hover{
    color: #435334;
    cursor: pointer;
}
#searchCat{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    background-color:#9EB384;
    color: #435334;
}
#searchCat::placeholder{
    color: #435334;
    font-style: italic;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

    

}


.dishItem{
    justify-content: center;
    padding-top: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    position: relative;
    

}
.CatoImage{
    display: flex;
    height:200px;
    width:210px;
    
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-color: azure;
    font-weight: bolder;
    justify-content: center;
    text-decoration: underline;
    align-items: center;
    box-shadow: 2px 2px 5px #435334;
    border-radius: 1em;
}

.CatoImage:hover{
    cursor: pointer;
    opacity: 0.7;
}

.dishtitle{
    /* text-shadow: 2px 2px 5px #9EB384; */
    background-color: #CEDEBD;
    position: absolute;
    font-weight: bolder;
    text-decoration: underline;
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 1em;
    color: #435334;
}


.recipe-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}



/*----------------------------------------------------*/

.hide{
    display:none;
}
#recipeUI{
    width: 100%;
}
.recipeContainer{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FAF1E4;
    position: relative;
    padding: 1em;
    gap:1em;

 }


 .Content{
    display: flex;
 }

 .recipeInfo{
    display:flex;
    gap:1em;
    padding: 1em;
    flex-direction: column;
    width: 50%;
    border-right: 1.5px solid #CEDEBD;
 }
 
 #recipeTitle{
    color:#435334 ;
    text-decoration: underline;
    font-weight: bolder;
    font-style: oblique;
}

 #recipeImg{
    height:300px;
    width: 400px;
    box-shadow: 4px 4px 4px #9EB384;
    object-fit: cover;
    background-size: cover;
    align-self: center;
    border-radius: 1em;
}

#recipeheading2 , #recipeheading1 {
    margin: 0;
    border-bottom: 0.5px solid #CEDEBD;
    color: #435334;
    padding-bottom:0.5em ;
    font-weight: bold;
    font-size: 25px;
 }



  #instructions, #Ingredients{
    text-align: justify;
    line-height: 1.5;
    font-size: 20px;
    color: #435334;
    margin: 0;
    
 } 

 .recipeInstruction{
    display: flex;
    gap: 1em;
    flex-direction: column;
    padding: 1em;
    padding-left: 2em;
    width: 50%;
    border-left: 1.5px solid #CEDEBD;
 }
 #instructions{
    font-size: 20px;
    padding-left: 1.5em;
 }


#closebtn{
    font-size: 35px;
    color: #435334;
    background:none;
    cursor: pointer;
    border: none;
    

}

.head{
    
    position: absolute;
    right:0;
    
}

.footerSection{
    display: flex;
    /* flex-direction: column; */
    background-color: #9EB384;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-top: 2px solid #38472b;
    gap:1em;
}

#footerIcon{
    height:50px;
    width:50px;
    border-radius: 100%;
    
    
}

#sologo{
    color: #38472b;
    font-family: "Dancing Script";
    font-size: 25px;
    font-weight: bolder;
    
}
